<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>SpaceJamify</title>
  <link rel="stylesheet" href="../static/css/index.css" />
</head>
<body>

  <div id="overlay"></div>
  <div class="meteor"></div>
  <div class="flash"></div>

  <div class="content">
    <h1 class="title">🚀SpaceJam</h1>
    <h4 class="tagline">"LET THE UNIVERSE CHOOSE YOUR MUSIC!!"</h4>
    <br><br>
    <button id="fetch-go-button">Get Your Cosmic Vibe</button>
    <p id="apod-title"></p>
    <p id="apod-description"></p>
    <!-- Single combined button -->
     
  </div>

  <script src="../static/scripts/script.js"></script>

</body>
</html>
