<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>SpaceJam</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
</head>
<body>
  <div id="overlay"></div>
  <div class="content">
    <h1 class="title" class="fade-in">🚀 SpaceJam</h1>
    <h4>LET UNIVERSE CHOOSE THE MUSIC</h4>
    <p id="apod-title" class="fade-in"></p>
    <img id="apod-image" alt="NASA IMAGE OF THE DAY" />
    <p id="apod-description" class="fade-in"></p>
    <button id="fetch-btn">Get Today’s Cosmic Vibe</button>
    <br /><br />
    <button id="go-btn" style="display:none;">Go to Your Vibe</button>
  </div>

  <script src="{{ url_for('static', filename='scripts/index.js') }}"></script>
</body>
</html>